Variables

In [1]:
def swap(a, b):
    return b, a

a = 5
b = 7
result = swap(a, b)
print(result)

(7, 5)

In [2]:
a = 55
b = 10
a, b = b, a
print("a:","b:", b, a)

a: 10
b: 55

Area of a rectangle

In [3]:
l = 10
w = 5

area = l * w
print(area)

50

Converts temperature from Fahrenheit to Celsius.

In [4]:
C = 100

F = (C * 9) / 5 + 32
print(F)

212.0

Converts temperature from Celsius to Fahrenheit.

In [5]:
F = 298

C = (F - 32) * 5 /9
print(C)

147.77777777777777

In [6]:
r = 5

v = (4 / 3)*  (22 / 7) * r * r * r
v = round(v, 4) 
print(v)

523.8095

average calculate

In [7]:
num1 = 10
num2 = 20
num3 = 30

sum = num1 + num2 + num3
avg = sum / 3
print("Average = {avg}")

Average = {avg}

In [12]:
def Average(*nums):
    total_sum = sum(nums)  
    avg = total_sum / len(nums)
    return avg

a = 10
b = 20
c = 30
avg = Average(a, b, c)
print(f'The average is {avg}.')

The average is 20.0.

In [10]:
n = 5

if n == 0:
    print(f'{n} is Zero')
elif n > 0:
    print(f'{n} is positive number')
else:
    print(f'{n} is Negative number')

5 is positive number

If-elif-else

Even or ODD

In [11]:
num = 22

if num % 2 == 0:
    print(f'{num} is Even number')
else:
    print(f'{num} is ODD number')

22 is Even number

finds the maximum

In [12]:
num1 = 10
num2 = 20
num3 = 30

if num1 > num2 | num1 > num3:
    print(f'{num1} is maximum')
elif num2 > num1 | num2 > num3:
    print(f'{num2} is maximum')
else:
    print(f'{num3} is maximum')

30 is maximum

Leap year checking

In [14]:
def checkYear(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return f'{year} is a leap year'
    else:
        return f'{year} is not a leap year'

year = 2001
result = checkYear(year)
print(result)

2001 is not a leap year

In [14]:
year = 2024

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f'{year} is a leap year')
else:
    print(f'{year} is not a leap year')

2024 is a leap year

Grade based percentage

In [15]:
def calculate_grade(percentage):
    if percentage >= 80:
        return 'A'
    elif percentage >= 70:
        return 'B'
    elif percentage >= 60:
        return 'C'
    elif percentage >= 50:
        return 'D'
    elif percentage >= 40:
        return 'E'
    else:
        return 'F'

percentage = float(input("Enter the percentage: "))
grade = calculate_grade(percentage)
print(f'The grade for {percentage}% is {grade}.')

Enter the percentage:  90

The grade for 90.0% is A.

For Loop

1.the first `n` natural numbers.

In [16]:
num = int(input("Please enter the num:"))
for i in range(1, num + 1):
    print(i, end = ' ')

Please enter the num: 23

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23

2.factorial of a number.

In [17]:
def factorial(n):
    if n < 0:
        return 0 
    elif n == 0 or n == 1:
        return 1  
    else:
        fact = 1
        while n > 1:
            fact *= n
            n -= 1
        return fact

num = 6
result = factorial(num)
print(result)

720

3.Fibonacci sequence

In [18]:
def fibonacci(n):
    a, b = 0, 1
    for i in range(2, n+1):
           a, b = b, a + b
    return b

num = 5
result = fibonacci(num)
print(result)

5

4.Prime number checking

In [19]:
num = 20
flag = False

if num == 0 or num == 1:
    print(num, "is not a prime number")
else:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break

if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

20 is not a prime number

5. Multiplication table

In [20]:
num = 10

for i in range(1, 11):
    print(num, 'x', i, '=', num*i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

While Loop

16.Finds the sum of all even numbers between 1 and `n`.

In [21]:
def even_sum(n):
    sum = 0
    count = 2
    while count <= n:
        sum += count
        count += 2
    return sum

n = int(input("Enter number: "))
result = even_sum(n)
print(f'The sum of all even numbers is {result}.')

Enter number:  10

The sum of all even numbers is 30.

In [22]:
num = int(input("Enter a number: "))
sum = 0
count = 2

while count <= num:
    sum += count
    count += 2

print(f'sum of all even number {sum}')

Enter a number:  10

sum of all even number 30

Reverses number

In [23]:
num = int(input("Enter a number: "))
reverse = 0

while num > 0:
    n = num % 10 
    reverse = reverse * 10 + n  
    num = num // 10  

print(f"Reversed number is {reverse}.")

Enter a number:  54321

Reversed number is 12345.

18.String palindrome.

In [1]:
def is_palindrome(s):
    l = 0
    h = len(s) - 1

    while l < h:
        if s[l] != s[h]:
            return False
        l += 1
        h -= 1
    return True

str = input('Enter a string: ')
if is_palindrome(str):
    print(f'"{str}" is a palindrome.')
else:
    print(f'"{str}" is not a palindrome.')

Enter a string:  madam

"madam" is a palindrome.

20. GCD

In [8]:
def gcd(a, b):
    # Base case
    if b == 0:
        return a
    return gcd(b, a % b)

a = 10
b = 5
result = gcd(a, b)
print(f'GCD  is {result}')

GCD  is 5

LCM

In [10]:
def gcd(a, b):
    # Base case
    if b == 0:
        return a
    return gcd(b, a % b)

def lcm(a, b):
    return abs(a * b) // gcd(a, b)

a = 10
b = 5
result = lcm(a, b)
print(f'The LCM is {result}.')

The LCM of 10 and 5 is 10.