In [ ]:
li = [100, 200, 150, 300,180]

In [ ]:
li

[100, 200, 150, 300, 180]

In [ ]:
import pandas as pd
df = pd.DataFrame(li, columns=['cost'])
df

   cost
0   100
1   200
2   150
3   300
4   180

# Techniques to perform Feature Transformation:

1. Normalization <br>
2. Standardization <br>
3. Log Transformation <br>
4. Robust Scaler <br>
5. Max Absolute Scaler

# Normalization / min max scaler

In [ ]:
min_cost = df.cost.min()
max_cost = df.cost.max()

In [ ]:
min_cost

100

In [ ]:
max_cost

300

In [ ]:
df['cost_norm_manual'] = (df.cost - min_cost ) / (max_cost - min_cost)

In [ ]:
df.head()

   cost  cost_norm_manual
0   100              0.00
1   200              0.50
2   150              0.25
3   300              1.00
4   180              0.40

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
mmx = MinMaxScaler() #feature_range=(0,1)

In [ ]:
df['cost_norm_sklearn'] = mmx.fit_transform(df[['cost']])

In [ ]:
df.head()

   cost  cost_norm_manual  cost_norm_sklearn
0   100              0.00               0.00
1   200              0.50               0.50
2   150              0.25               0.25
3   300              1.00               1.00
4   180              0.40               0.40

# Standardization / standard scaler

In [ ]:
mean_cost = df.cost.mean()
std = df.cost.std()

In [ ]:
df['cost_std_manual'] = (df['cost'] - mean_cost) / std

In [ ]:
df.head()

   cost  cost_norm_manual  cost_norm_sklearn  cost_std_manual
0   100              0.00               0.00        -1.161738
1   200              0.50               0.50         0.189120
2   150              0.25               0.25        -0.486309
3   300              1.00               1.00         1.539978
4   180              0.40               0.40        -0.081051

std2  =df['cost_std_manual'] = (df['cost'] - mean_cost) / std
#std2

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
#df['cost'] = scaler.fit_transform(df[['cost']])
df['cost_std_sklearn'] = scaler.fit_transform(df[['cost']])

In [ ]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn
0,100,0.00,0.00,-1.161738,-1.298863
1,200,0.50,0.50,0.189120,0.211443
2,150,0.25,0.25,-0.486309,-0.543710
3,300,1.00,1.00,1.539978,1.721748
4,180,0.40,0.40,-0.081051,-0.090618

In [ ]:
std_dof = df.cost.std(ddof=0) #Delta Degrees of Freedom (n-0)

In [ ]:
std_dof

66.2117814289874

In [ ]:
std_dof1 = df.cost.std(ddof=1) #Delta Degrees of Freedom (n-1)
std_dof1

74.02702209328699

In [ ]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn
0,100,0.00,0.00,-1.161738,-1.298863
1,200,0.50,0.50,0.189120,0.211443
2,150,0.25,0.25,-0.486309,-0.543710
3,300,1.00,1.00,1.539978,1.721748
4,180,0.40,0.40,-0.081051,-0.090618

In [ ]:
df['cost_std_manual2'] = (df['cost'] - mean_cost) / std_dof1

In [ ]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_std_manual2
0,100,0.00,0.00,-1.161738,-1.298863,-1.161738
1,200,0.50,0.50,0.189120,0.211443,0.189120
2,150,0.25,0.25,-0.486309,-0.543710,-0.486309
3,300,1.00,1.00,1.539978,1.721748,1.539978
4,180,0.40,0.40,-0.081051,-0.090618,-0.081051

In [ ]:
df['cost_std_manual3'] = (df['cost'] - mean_cost) / std_dof

In [ ]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_std_manual2,cost_std_manual3
0,100,0.00,0.00,-1.161738,-1.298863,-1.161738,-1.298863
1,200,0.50,0.50,0.189120,0.211443,0.189120,0.211443
2,150,0.25,0.25,-0.486309,-0.543710,-0.486309,-0.543710
3,300,1.00,1.00,1.539978,1.721748,1.539978,1.721748
4,180,0.40,0.40,-0.081051,-0.090618,-0.081051,-0.090618

# Log Transformation

In [ ]:
from sklearn.preprocessing import FunctionTransformer
import numpy as np

In [ ]:
fc = FunctionTransformer(np.log1p)
df['cost_fc'] = fc.fit_transform(df[['cost']])
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_std_manual2,cost_std_manual3,cost_fc
0,100,0.00,0.00,-1.161738,-1.298863,-1.161738,-1.298863,4.615121
1,200,0.50,0.50,0.189120,0.211443,0.189120,0.211443,5.303305
2,150,0.25,0.25,-0.486309,-0.543710,-0.486309,-0.543710,5.017280
3,300,1.00,1.00,1.539978,1.721748,1.539978,1.721748,5.707110
4,180,0.40,0.40,-0.081051,-0.090618,-0.081051,-0.090618,5.198497

In [ ]:
df['fc_np'] = np.log1p(df[['cost']]) # Another way

In [ ]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_std_manual2,cost_std_manual3,cost_fc,fc_np
0,100,0.00,0.00,-1.161738,-1.298863,-1.161738,-1.298863,4.615121,4.615121
1,200,0.50,0.50,0.189120,0.211443,0.189120,0.211443,5.303305,5.303305
2,150,0.25,0.25,-0.486309,-0.543710,-0.486309,-0.543710,5.017280,5.017280
3,300,1.00,1.00,1.539978,1.721748,1.539978,1.721748,5.707110,5.707110
4,180,0.40,0.40,-0.081051,-0.090618,-0.081051,-0.090618,5.198497,5.198497

# Robust Scaler (outliers)

[Robust Scaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.RobustScaler.html)

[View Video](https://youtu.be/U9N-ELpCpc8)

# Max Abs Scaler

In [ ]:
from sklearn.preprocessing import MaxAbsScaler

# Power Transformer (box cox)

In [ ]:
from scipy.stats import boxcox
df['box cox'], _ = boxcox(df['cost'] + 1) #data,param

In [ ]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_std_manual2,cost_std_manual3,cost_fc,fc_np,box cox
0,100,0.00,0.00,-1.161738,-1.298863,-1.161738,-1.298863,4.615121,4.615121,5.609162
1,200,0.50,0.50,0.189120,0.211443,0.189120,0.211443,5.303305,5.303305,6.642560
2,150,0.25,0.25,-0.486309,-0.543710,-0.486309,-0.543710,5.017280,5.017280,6.205968
3,300,1.00,1.00,1.539978,1.721748,1.539978,1.721748,5.707110,5.707110,7.276620
4,180,0.40,0.40,-0.081051,-0.090618,-0.081051,-0.090618,5.198497,5.198497,6.481391

In [ ]:
df.cost_std_sklearn.mean()

In [ ]:
df.cost_std_sklearn.mean() + 1

In [ ]:
df.cost_std_manual2.std()